:root{
    --darkgreen: #5AC4C0;
}

body{
    margin: 0;
}

html{
    background-color: #c8eed9;
}

* {
    box-sizing: border-box;
    font-family: 'Karma', serif;
}

h1 {
    font-family: 'Bitter', serif;
}

h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.headsticky{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--darkgreen);
}

.navflex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 1.1rem 2rem;
}

.navflex > a{
    color: black;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 25% 75%;
}

main section:nth-child(2n+1){
    background-color: #5AC4C0;
}

main section{
    border-bottom: 0.3rem solid #5AC4C0;
}

#name{
    grid-column: 2;
    text-align: center;
    font-size: 3rem;
}

#profilepic {
    grid-column: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: auto;
}
