:root{
    --darkgreen: #40B0AC;
}

body{
    margin: 0;
}

html{
    background-color: #c8eed9;
}

* {
    box-sizing: border-box;
    font-family: 'Karma', serif;
}

h1 {
    font-family: 'Bitter', serif;
}

h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.headsticky{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--darkgreen);
}

.navflex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 1.1rem 2rem;
}

.navflex > a{
    color: black;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 25% 75%;
    border-bottom: 1rem solid #40B0AC;
}

main > section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main section:nth-child(2n+1){
    background-color: #40B0AC;
}

main section:nth-child(n+3){
    border-top: 0.3rem solid #5AC4C0;
}

section{
    scroll-margin-top: 4rem;
}

.right-content{
    padding-left: 1rem;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.form-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-left: 5px solid #5AC4C0;
    border-right: 5px solid #5AC4C0;
    border-top: 5px solid #5AC4C0;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #5AC4C0;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name{
    grid-column: 2;
    text-align: center;
    font-size: 3rem;
}

#profilepic {
    grid-column: 1;
    display: block;
    margin: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: auto;
}
